@model Trackplan.Models.MessageModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Enter you text</h3>
    @using (Html.BeginForm("PostPassingText", "Home", FormMethod.Post))
            {
                @Html.TextBoxFor(x => x.Message, new { @class = "form-control", placeholder = "text..." }) <br/> <br/>
                <input type="submit" class="btn btn-primary" value="GO"/>

            }
</div>
